@import 'colors';
@mixin img-c ($color, $dark-color) {
    border: 3px solid $color;
    transition: all 0.5s ease-out;
    border-radius: 10px;
    position: relative;
    & + .card-body> .profession {
        color: $dark-color;
    }
    & > .sosial-wrapper {
        position: absolute;
        bottom: 10px;
        left: 0;
        right: 0;
    }
    & > .sosial-wrapper > a {
        color: $color-3-dark;
        background-color: white;
        display: inline-block;
        width: 25px;
        opacity: 0;
        visibility: none;
        transition: all 0.5s ease-in-out;
        &:hover {
            background-color: $dark-color;
            color: white;
        }
    } 
    &:hover {
        border: 3px solid $dark-color;
        & > .sosial-wrapper > a {
            opacity: 1;
            visibility: visible;
        }
    }
}