@mixin img-c ($color, $dark-color) {
    border: 3px solid $color;
    transition: all 0.5s;
    border-radius: 10px;
    & + .card-body> .profession {
        color: $dark-color;
    }
    &:hover {
        border: 3px solid $dark-color;
    }
}