.img-container-1 {
  border: 3px solid #ffdacf;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  border-radius: 10px;
  position: relative;
}

.img-container-1 + .card-body > .profession {
  color: #ff612f;
}

.img-container-1 > .sosial-wrapper > * {
  color: #080a3c;
  background-color: white;
  display: inline-block;
  width: 25px;
  opacity: 0;
  visibility: none;
  -webkit-transition-property: all 0.4s;
  transition-property: all 0.4s;
}

.img-container-1 > .sosial-wrapper > *:hover {
  background-color: #ff612f;
  opacity: 1;
  visibility: visible;
}

.img-container-1:hover {
  border: 3px solid #ff612f;
}

.img-container-1:hover > .sosial-wrapper > * {
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  visibility: visible;
  opacity: 1;
}

.img-container-1 > .sosial-wrapper {
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
}

.img-container-2 {
  border: 3px solid #bce9e5;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  border-radius: 10px;
  position: relative;
}

.img-container-2 + .card-body > .profession {
  color: #13c4a1;
}

.img-container-2 > .sosial-wrapper > * {
  color: #080a3c;
  background-color: white;
  display: inline-block;
  width: 25px;
  opacity: 0;
  visibility: none;
  -webkit-transition-property: all 0.4s;
  transition-property: all 0.4s;
}

.img-container-2 > .sosial-wrapper > *:hover {
  background-color: #13c4a1;
  opacity: 1;
  visibility: visible;
}

.img-container-2:hover {
  border: 3px solid #13c4a1;
}

.img-container-2:hover > .sosial-wrapper > * {
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  visibility: visible;
  opacity: 1;
}

.img-container-2 > .sosial-wrapper {
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
}

.img-container-3 {
  border: 3px solid #b2b3c3;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  border-radius: 10px;
  position: relative;
}

.img-container-3 + .card-body > .profession {
  color: #080a3c;
}

.img-container-3 > .sosial-wrapper > * {
  color: #080a3c;
  background-color: white;
  display: inline-block;
  width: 25px;
  opacity: 0;
  visibility: none;
  -webkit-transition-property: all 0.4s;
  transition-property: all 0.4s;
}

.img-container-3 > .sosial-wrapper > *:hover {
  background-color: #080a3c;
  opacity: 1;
  visibility: visible;
}

.img-container-3:hover {
  border: 3px solid #080a3c;
}

.img-container-3:hover > .sosial-wrapper > * {
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  visibility: visible;
  opacity: 1;
}

.img-container-3 > .sosial-wrapper {
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
}

.img-container-4 {
  border: 3px solid #fed2e1;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  border-radius: 10px;
  position: relative;
}

.img-container-4 + .card-body > .profession {
  color: #fc4c86;
}

.img-container-4 > .sosial-wrapper > * {
  color: #080a3c;
  background-color: white;
  display: inline-block;
  width: 25px;
  opacity: 0;
  visibility: none;
  -webkit-transition-property: all 0.4s;
  transition-property: all 0.4s;
}

.img-container-4 > .sosial-wrapper > *:hover {
  background-color: #fc4c86;
  opacity: 1;
  visibility: visible;
}

.img-container-4:hover {
  border: 3px solid #fc4c86;
}

.img-container-4:hover > .sosial-wrapper > * {
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  visibility: visible;
  opacity: 1;
}

.img-container-4 > .sosial-wrapper {
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
}
/*# sourceMappingURL=style.css.map */